@import "/src/variables";

@animationDuration: 200ms;

.submissionsGroup {
  width: 100%;
  background-color: @white;
  border-radius: 24px;
  overflow: hidden;
  padding: 16px 0;
}

.groupHeader {
  display: flex;
  width: 100%;
  padding: 8px 32px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  transition: padding-bottom ease @animationDuration;

  &.opened {
    padding-bottom: 16px;
  }

  &.noClose {
    cursor: initial;
  }

  &.mocked {
    cursor: default;
  }

  @media (max-width: @maxPhoneWidth) {
    padding: 8px 16px;
  }
}

.groupOpenCloseInfoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  @media (max-width: @maxPhoneWidth) {
    gap: 8px;
  }
}

.groupInfo {
  display: flex;
  align-items: center;
  gap: 0 16px;

  @media (max-width: @maxPhoneWidth) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;


  @media (max-width: @maxPhoneWidth) {
    font-size: 16px;
  }
}

.solutionsCount {
  font-size: 16px;
  white-space: nowrap;
  @media (max-width: @maxPhoneWidth) {
    font-size: 12px;
  }
}

.checkAllButton {
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  color: @white;
  background: @buttonBackground;
  padding: 9px 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px @buttonBackground;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: @white;
    text-decoration: none;
    background: @buttonBackgroundHover;
    box-shadow: 0 0 0 1px @buttonBackgroundHover;
  }

  &:focus {
    color: @white;
    text-decoration: none;
  }

  &:active {
    color: @white;
    text-decoration: none;
    background: @buttonBackgroundActive;
    box-shadow: 0 0 0 1px @buttonBackgroundActive;

    > * {
      display: inline-block;
      transform: translateY(1px);
    }
  }

  @media (max-width: @maxPhoneWidth) {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
  }

  &.disabled {
    &, :hover, :focus, :active {
      color: @buttonColorDisabled;
      background-color: @buttonBackgroundDisabled;
      box-shadow: 0 0 0 1px @buttonBackgroundDisabled;

      > * {
        display: inline-block;
        transform: none;
      }

      cursor: default;
    }
  }
}

.reviewQueueList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: max-height @animationDuration ease;

  &.mocked {
    .reviewQueueItemLink {
      cursor: default;

      &, &:hover, &:focus, &:active {
        background-color: initial;
      }
    }
  }
}

.reviewQueueItem {
  position: relative;

  .splitter {
    display: none;
  }

  @media (max-width: 500px) {
    .splitter {
      display: initial;
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: -1px;
      height: 1px;
      background-color: @borderColor;
    }

    &:last-child {
      .splitter {
        display: none;
      }
    }
  }
}

.reviewQueueItemLink {
  color: @black;

  position: relative;
  width: 100%;
  padding: 8px 32px;

  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  align-items: center;
  grid-gap: 4px 16px;

  font-size: 16px;
  line-height: 22px;
  cursor: pointer;

  &:hover, &:focus {
    color: initial;
    text-decoration: initial;
    background-color: @lightGrey;
  }

  &:active {
    color: initial;
    text-decoration: initial;
    background-color: @greySmoke;
  }

  &.locked {
    background-color: @lightYellow;

    &:hover, &:focus {
      background-color: #FFEBA4;
    }

    &:active {
      background-color: #ffe599;
    }
  }

  .infoIcon {
    position: absolute;
    left: 10px;
    bottom: auto;
    top: auto;
    line-height: 14px;
  }

  .user {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slide {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timestamp {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @additionalColor;
  }

  &.noStudent {
    grid-template-columns: 2fr 1fr;

    .user {
      display: none;
    }
  }

  &.noSlide {
    grid-template-columns: 2fr 1fr;

    .slide {
      display: none;
    }
  }

  @media (max-width: @maxPhoneWidth) {
    padding: 8px 16px;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;

    .timestamp {
      text-align: initial;
    }
  }
}
