@import "/src/variables.less";

.commonInfo {
  margin: 20px 0 0;
}

.modalContent {
  margin-bottom: 30px;
  max-width: 600px;
}

.goodName {
  color: @successColor;
}

.badName {
  color: @accentColor;
}
