@import "/src/variables.less";

.common-info {
  margin-bottom: 10px;
}

.modal-content {
  max-width: 600px;
}

.select-group {
  width: fit-content;
}

.group-info {
  margin-bottom: 10px;
}

.group-error-info {
  display: inline-block;
  font-weight: 500;
  color: @negativeColor;
}
