@import "/src/variables";

.mockString {
  color: transparent;
  cursor: default;
  user-select: none;

  & * {
    background: @black;
    opacity: 0.1;
    @supports (opacity: var(--opacity)) {
      opacity: var(--opacity);
    }
    border-radius: 8px;
  }

  &.inverseColor * {
    background: @white;
  }
}
