.student-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;

  & > label > div > * {
    vertical-align: top;
  }

  .addingTime {
    color: #999;
  }
}

.studentBlockSelectable {
  user-select: text;
}
