<footer>
	<div>
		<p>
			Ulearn.me — платформа с интерактивными онлайн-курсами, которую сделали в <a href="https://kontur.ru/career">Контуре.</a>
		</p>
		<p>
			Если вам нравятся наши курсы, посмотрите, что еще мы делаем <a href="https://tech.kontur.ru/">для разработчиков.</a>
		</p>
		<p>@Html.ActionLink("Условия использования платформы.", "Terms", "Home") </p>
		<p>С&nbsp;вопросами и пожеланиями пишите на&nbsp;<a href="mailto:support@ulearn.me">support@ulearn.me</a>.</p>
	</div>
</footer>