@import "/src/variables";

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.questionAnswerWrapper {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.showAnswerButtonContainer {
  display: flex;
  justify-content: center;

  @media (min-width: @minLaptopWidth) {
      justify-content: initial;
  }
}

.theoryLinks {
  margin-top: 20px;
  color: @additionalColor;
}

.wrapper i {
  padding: 0 2px; //fixing bug causing italic text overlap
}
